# All optional parameters are commented out

#LOG_LEVEL=INFO
#LOG_PLAINTEXT=no

DB_ADDR=db:5432
#DB_USER=postgres
DB_PASSWORD='pa$$w0rd'
#DB_NAME=postgres

SERVER_ADDR=localhost:8080
#SERVER_READ_TIMEOUT=5s
#SERVER_WRITE_TIMEOUT=5s
